name: NCP 3-Tier CI/CD Pipeline (Dual-Core)

on:
  push:
    branches: [ "main" ]

jobs:
  # 1. WAS 서버 배포 로봇
  deploy-was:
    runs-on: [self-hosted, was] # <--- 'was' 이름표 붙은 로봇만 출동!
    steps:
    - name: 깃허브에서 최신 코드 다운로드
      uses: actions/checkout@v3

    - name: WAS 배포 및 PM2 재시작
      run: |
        cp -rf was-server/* /root/my-board-server/
        cd /root/my-board-server
        npm install
        export HOME=/root
        pm2 restart server.js || pm2 start server.js

  # 2. 웹 서버 배포 로봇
  deploy-web:
    runs-on: [self-hosted, web] # <--- 'web' 이름표 붙은 로봇만 출동!
    steps:
    - name: 깃허브에서 최신 코드 다운로드
      uses: actions/checkout@v3

    - name: 프론트엔드 배포 및 Nginx 재시작
      run: |
        # 다운받은 index.html을 Nginx 폴더로 강제 복사!
        cp -rf web-server/index.html /usr/share/nginx/html/
        
        # Nginx 설정 파일(nginx.conf)도 덮어쓰기!
        cp -rf web-server/nginx.conf /etc/nginx/nginx.conf
        
        # 설정 적용을 위해 Nginx 재시작
        systemctl restart nginx
